$anim-duration: .5s !default;
$anim-timing: ease-in-out !default;
$bubbleCornerRadius: 10px !default;
$bubbleColor: #fff !default;
$bubbleBorderWidth: 5px !default;
$bubbleFontFamily: Helvetica, Arial !default;
$bubblePadding: 15px !default;
$borderColor: rgba(0, 0, 0, 0.5) !default;
$circleWidth: 30px !default;
$spriteUrl: url(../img/sprite-green.png) !default;
$bubbleZindex: 999999 !default;